<!DOCTYPE html>
<html>

<head>
  <title>Owner-Dashboard</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>

  <header class="header bg-dark">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>

    <a routerLink="/index" class="logo"><strong>DIY<span>POPUP'S</span></strong></a>

    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" routerLink="/login">Logout</a></li>
      </ul>



    </div>
  </header>

  <div class="col-sm-5">

    <div>
      <!-- required for floating -->
      <!-- Nav tabs -->

      <ul class="list-group" id="tt">
       
        <li class="list-group-item bg-dark border-dark"><a class="btn btn-dark" href="#profile" data-toggle="tab">PROFILE</a></li>
        <li class="list-group-item bg-dark border-dark"><a class="btn btn-dark" href="#addcreate" data-toggle="tab">CREATE ADD</a></li>
        <li class="list-group-item bg-dark border-dark"><a class="btn btn-dark" href="#viewadd" data-toggle="tab">VIEW ADD</a></li>
        <li class="list-group-item bg-dark border-dark"><a class="btn btn-dark" href="#credits" data-toggle="tab">CREDITS</a></li>
        


      </ul>
    </div>
    <div class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">


        <div class="tab-pane fade in body active" id="profile">
          
          <div class="container">

             <!-- The Modal -->
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- Modal body -->
        <div class="modal-body">
          
   
        </div>
   
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
   
      </div>
    </div>
   </div>
            <div class="row">
              <div class="col-sm-5">
                <span class="profile-picture" style="display: inline">
                  <img class="editable img-responsive" alt=" Avatar" id="avatar2"
                    src="http://bootdey.com/img/Content/avatar/avatar6.png">
                </span>

                <div class=" col-sm-8 " style="float:left;">
                  <h4 class="blue">
                    <span class="middle">John Doe</span>

                    <span class="label label-purple arrowed-in-right">
                      <em class="ace-icon fa fa-circle smaller-80 align-middle"></em>
                      online
                    </span>
                    <!-- <a href="#"><span class="glyphicon glyphicon-pencil "></span></a> -->
                   
                       
                      <button data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-pencil" ></button>
                      
                       
                        
                      
                        
                  </h4>

                  <div class="profile-user-info middle">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Username </div>

                      <div class="profile-info-value">
                        <span>alexdoe</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Location </div>

                      <div class="profile-info-value">
                        <em class="fa fa-map-marker light-orange bigger-110"></em>
                        <span>Netherlands</span>
                        <span>Amsterdam</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Age </div>

                      <div class="profile-info-value">
                        <span>38</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Last Online </div>

                      <div class="profile-info-value">
                        <span>3 hours ago</span>
                      </div>
                    </div>
                  </div>

                  <div class="hr hr-8 dotted"></div>

                  <div class="profile-user-info">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Website </div>

                      <div class="profile-info-value">
                        <a href="#" target="_blank">www.alexdoe.com</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <hr>


          </div>
        </div>


        <div class="tab-pane" id="addcreate">

          <div class="container">
            <div class="row mt-5">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-header">
                    <div class="h4 text-center">ADVERTISEMENT DETAILS</div>
                  </div>

                  <div class="card-body">

                    <div class="form-group">
                      <label for="category">CATEGORY OF ADD</label>
                      <input type="text" class="form-control" [(ngModel)]="category"
                        placeholder="Enter Category of Product">
                    </div>

                    <div class="form-group">
                      <label for="category">PRODUCT</label>
                      <input type="text" class="form-control" [(ngModel)]="product"
                        placeholder="Enter the Name of Product">
                    </div>

                    <div class="form-group">
                      <label for="dop">DATE OF PUBLISHING</label>
                      <input type="date" class="form-control" [(ngModel)]="dop">
                    </div>

                    <div class="form-group">
                      <label for="description">DESCRIPTION</label>
                      <textarea class="form-control" [(ngModel)]="desc"
                        placeholder="Enter Description about the Product" row="10" col="6"></textarea>
                    </div>

                    <div class="card-footer">
                      <button class="btn btn-primary" (click)="submitAdvt()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="viewadd">


          <div class="container">
            <div class="row">
              <div *ngFor="let advt of advts" class="col-md-4">
                <a href="#">
                  <div class="card m-2 bg-secondary text-white">
                    <div class="card-body">Category: {{advt.categoryadd}}</div>
                    <div class="card-footer">
                      <div>
                        <h6>Product: {{advt.product}}</h6>
                      </div>
                      <div>
                        <h6>Description: {{advt.description}}</h6>
                      </div>
                      <div>
                        <h6>Date of Publish: {{advt.dop}}</h6>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>


        </div>
        <div class="tab-pane col-md-4" id="credits">
         
          <div class="card" style="width:400px ;height:200px">
              <div class="card-header">ADD CREDITS</div>
              <div class="card-body">
                <label>NO OF CREDITS TO ADD</label><br>
                <input type="text" name="credits"/><br>
                <label>ACCOUNT NUMBER</label><br>
                <input type="text" name="credits"/><br>
                
                <a href="#" class="btn btn-primary ">ADD</a>
              </div>
            </div>
            <div style="font-size: 20px" >
              Credits Available:20
            </div>
             
            
        </div>
      </div>
    </div>
    
    <div class="clearfix"></div>
<div id="edit">
  <input type="text" name="username"/>
</div>

  </div>


</body>

</html>
