<html>
  <head>
    </head>
      <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">DIY-POPUPS</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      
        <header class="masthead text-center text-white d-flex">
          <div class="container my-auto">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                  <strong>Native, Self-Service Ads to Reach Influencers, Connectors and Superfans.</strong>
                </h1>
                <hr>
              </div>
              <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Advanced data and technology help you reach your most likely audience of mavens and influencers</p>
                <a routerLink="/login" class="btn btn-outline-primary btn-xl js-scroll-trigger">Login / Register</a>
              </div>
            </div>
          </div>
        </header>
      
        <section class="bg-info" id="about">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">In an increasingly atomized media landscape, blogs are vital hubs for socializing and public discussion.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
              </div>
            </div>
          </div>
        </section>
      
        <section id="services">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="my-4">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                  <h3 class="mb-3">Passionate.</h3>
                  <p class="text-muted mb-0">In an increasingly atomized media landscape, blogs are vital hubs for socializing and public discussion..</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                  <h3 class="mb-3">Targeted.</h3>
                  <p class="text-muted mb-0">Advanced data and technology help you reach your most likely audience of mavens and influencers.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                  <h3 class="mb-3">Creative.</h3>
                  <p class="text-muted mb-0">We power a broad range of ad types, from our proprietary Blogads native display creative to video to social.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                  <h3 class="mb-3">Easy.</h3>
                  <p class="text-muted mb-0">Find the perfect audience for your campaign, build ads, and launch with just a few clicks.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      
        <!-- <section class="p-0" id="portfolio">
          <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app\img\portfolio\fullsize\1.jpg">
                  <img class="img-fluid" src="app\img\portfolio\thumbnails\1.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      
                      <div class="project-name">
                      Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app/img/portfolio/fullsize/2.jpg">
                  <img class="img-fluid" src="app/img/portfolio/thumbnails/2.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      
                      <div class="project-name">
                       Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app/img/portfolio/fullsize/3.jpg">
                  <img class="img-fluid" src="app/img/portfolio/thumbnails/3.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                     
                      <div class="project-name">
                        Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app/img/portfolio/fullsize/4.jpg">
                  <img class="img-fluid" src="app/img/portfolio/thumbnails/4.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                     
                      <div class="project-name">
                        Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app/img/portfolio/fullsize/5.jpg">
                  <img class="img-fluid" src="app/img/portfolio/thumbnails/5.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      
                      <div class="project-name">
                        Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="app/img/portfolio/fullsize/6.jpg">
                  <img class="img-fluid" src="app/img/portfolio/thumbnails/6.jpg" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      
                      <div class="project-name">
                        Ad Name
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section> -->
      
        <section class="bg-dark text-white">
          <div class="container text-center">
            <h2 class="mb-4">Create a new campaign in a few easy steps!</h2>
           
          </div>
        </section>
      
        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to Post your Next Ad with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p><b>Contact us: </b>123-456-6789</p>
              </div>
              <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                  <a href="mailto:your-email@your-domain.com"><b>Email us at: </b>feedback@ad.com</a>
                </p>
              </div>
            </div>
          </div>
          

    
        </section> 
        <a routerLink="/owner-dashboard" class="btn btn-link"><u>owner dashboard</u></a>
      
    
      
      </body>
    
 
</html>