<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%;
      /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }

  </style>
</head>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav" style="margin-top:56px;" aria-orientation="vertical">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><br>
      <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#home" aria-selected="true">Home</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#profile" aria-selected="false">Profile</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#r" aria-selected="false">Rewards</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<nav class=" navbar-custom  mr-auto navbar navbar-expand-lg " style="  background-color: rgb(8, 8, 8);
        ">
  <h3 style="color:lightgray;margin-top:5px; margin-bottom: 10px;  text-shadow: 2px 2px rgb(10, 10, 10); position: relative; z-index: 2;
      ">DIYPOPUPS</h3>

  <a routerLink="/login" class="btn btn-info btn-lg" style=" color:blanchedalmond;margin-left:1380px;  "><span
      class="glyphicon glyphicon-off"></span></a>
</nav>

<body>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">


      <div class="container">
        <div class="row">
          <div *ngFor="let advt of advts" class="col-md-4">
            <a href="#">
              <div class="card m-2 bg-secondary text-white">
                <div class="card-body">Category: {{advt.categoryadd}}</div>
                <div class="card-footer">
                  <div>
                    <h6>Product: {{advt.product}}</h6>
                  </div>
                  <div>
                    <h6>Description: {{advt.description}}</h6>
                  </div>
                  <div>
                    <h6>Date of Publish: {{advt.dop}}</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

      <div id="profile" class="tab-pane fade in body">
        <div class="col-sm-8 col-md-offset-2 text-left" style="margin-top:50px;">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <span class="profile-picture" style="display: inline">
                  <img class="editable img-responsive" alt=" Avatar" id="avatar2"
                    src="http://bootdey.com/img/Content/avatar/avatar6.png">
                </span>

                <div class=" col-sm-12 " style="float:left;">
                  <h4 class="blue">
                    <span class="middle">John Doe</span>

                    <span class="label label-purple arrowed-in-right">
                      <em class="ace-icon fa fa-circle smaller-80 align-middle"></em>
                      online
                    </span>
                  </h4>

                  <div class="profile-user-info middle">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Username </div>

                      <div class="profile-info-value">
                        <span>alexdoe</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Location </div>

                      <div class="profile-info-value">
                        <em class="fa fa-map-marker light-orange bigger-110"></em>
                        <span>Netherlands</span>
                        <span>Amsterdam</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Age </div>

                      <div class="profile-info-value">
                        <span>38</span>
                      </div>
                    </div>

                    <div class="profile-info-row">
                      <div class="profile-info-name"> Last Online </div>

                      <div class="profile-info-value">
                        <span>3 hours ago</span>
                      </div>
                    </div>
                  </div>

                  <div class="hr hr-8 dotted"></div>

                  <div class="profile-user-info">
                    <div class="profile-info-row">
                      <div class="profile-info-name"> Website </div>

                      <div class="profile-info-value">
                        <a href="#" target="_blank">www.alexdoe.com</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Collapsible Group Item #1
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                      <div class="card-body">
                        Lorem ipsum..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="well">
                  <p>Upcoming Events..</p>
                </div>
                <div class="well">
                  <p>Visit Our Blog</p>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div id="r" class="tab-pane fade in body">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://placehold.it/800x400?text=IMAGE" alt="Image">
                    <div class="carousel-caption">
                      <h3>Sell $</h3>
                      <p>Money Money.</p>
                    </div>
                  </div>

                  <div class="item">
                    <img src="https://placehold.it/800x400?text=Another Image Maybe" alt="Image">
                    <div class="carousel-caption">
                      <h3>More Sell $</h3>
                      <p>Lorem ipsum...</p>
                    </div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Some text..</p>
              </div>
              <div class="well">
                <p>Upcoming Events..</p>
              </div>
              <div class="well">
                <p>Visit Our Blog</p>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>





    </div>
</body>

</html>
